:root {
  --ease: cubic-bezier(0.79, 0.14, 0.15, 0.86);
  --border-4-s: 1px solid #dddddd;
  --padding-4-xs: 10px;
  --padding-4-s: 20px;
  --padding-2-tb: 20px 0px;
  --padding-2-lrb: 0px 20px;
  --padding-4-tb: 20px 10px;
  --radius-4-xs: 2px;
  --radius-4-s: 5px;
  --radius-4-xl: 32px;
  --fonts-mini: 14px;
  --fonts-titulo-xl: 30px;
  --fonts-subtitulo-2p: 30px;
  --fonts-subtitulo-2m: 25px;
  --fonts-subtitulo-h2: 20px;
  --width-full: 100%;
  --width-sidebar-full: 265px;
  --width-global-inteno: 1280px;
  --margin-center-4: 0px auto;
  --textotitulo-xs: 16px;
  --textotitulo-s: 20px;
  --trasition-s: all 0.2s ease-out;
  --trasition-m: all 0.3s;
  --color-uno: #395e72;
  --color-txt-oscuro: #374151;
  --color-info: #37373b;
  --color-white: #ffffff;
  --color-info-cl: #0d6efd24;
  --color-border-info-cl: #0d6efd;
  --color-alert: #ea7667;
  --color-hover-bw: #f4f7ff;
  --color-border-bw: #d8e2ef;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #f2f2f2;
}

header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

table tr td {
  font-size: 12px;
}
table tr td p {
  line-height: 14px;
  margin-bottom: 10px;
}
table tr td ul {
  margin-bottom: 0px;
}

.Align-middle {
  vertical-align: middle;
}

.Forms {
  width: 100%;
  position: relative;
}
.Forms label {
  font-size: 14px;
  font-weight: 600;
  color: #3F51B5;
}

.W-full {
  width: 100%;
}

.W-middle {
  width: 50%;
}

.Contenedorglobal {
  max-width: 1280px;
  margin: 0px auto;
  padding: 80px 10px 10px 10px;
}
.Contenedorglobal__int {
  width: 100%;
  height: calc(100vh - 95px);
  border: 1px solid var(--color-border-bw);
  padding: var(--padding-4-s);
  border-radius: var(--radius-4-s);
  background-color: var(--color-white);
  overflow-y: auto;
}

.Contensupbtn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Statuslabel {
  background-color: #f2f2f2;
  border-radius: var(--radius-4-s);
  padding: 5px 10px;
  border: 1px solid #a6a6a6;
  color: #333;
}
.Statuslabel__publish {
  color: #0a3622;
  background-color: #d1e7dd;
  border: 1px solid #0a3622;
}
.Statuslabel__check {
  color: #055160;
  background-color: #cff4fc;
  border: 1px solid #055160;
}

.Contentlogin {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Contentlogin__int {
  width: 350px;
  padding: var(--padding-4-s);
  background-color: var(--color-white);
  border-radius: var(--radius-4-s);
  border: 1px solid var(--color-border-bw);
}

.Topheader {
  width: 100%;
  background-color: var(--color-white);
  padding: var(--padding-4-s);
  border: 1px solid var(--color-border-bw);
}
.Topheader__int {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  max-width: 1280px;
}
.Topheader__sec {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Menu {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.Menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.Menu ul li {
  display: inline-block;
}
.Menu ul li a {
  color: #000;
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}
.Menu ul li a:hover {
  background-color: #f2f2f2;
}

.Contenmanagearticle {
  padding: var(--padding-2-tb);
}
.Contenmanagearticle__sec {
  margin-right: 20px;
}
.Contenmanagearticle__sec:last-child {
  margin-right: 0px;
}