.Top
  width 100%  
  height 110px
  position fixed  
  z-index 500
  &-int
    max-width 1240px
    margin 0px auto
    display flex
    &-izq, &-der
      width 50%
    &-der
      text-align right 
      padding 14px 0px
    &-izq      
      padding 14px 10px
.Top-logo
  width 80px
  img
    width 100%
    filter brightness(15)
.Top-menu
  width auto
  padding 15px 0px
  nav
    position relative
    ul
      padding 0px
      margin 0px
      li
        margin 0px
        padding 0px
        list-style none
        display inline-block        
        a
          font-family CenturyGothic-Bold
          color #fff
          font-size 18px
          padding 20px 10px
          transition .3s
          z-index 500
          position relative
          
.Menu-oculto
  display none

.Menuhover
  display flex
  flex-flow row nowrap
  align-items left
  margin 0 0 35px
  .hover
    font-size 36px
    text-align left
    padding 0px
    z-index 100
    transition all 0.2s ease-in-out
    position relative
    &:before, &:after
      content ""
      background-color red
      position absolute
      bottom 5px
      width 0px
      height 12px      
      margin 5px 0 0
      transition all 0.2s ease-in-out
      transition-duration 0.65s
      opacity 0
      background-color #fff
.Menuhover .hover.hover-1:before, .Menuhover .hover.hover-1:after
  left 0
.Menuhover:hover
  cursor pointer
.Menuhover:hover .hover:before, .Menuhover:hover .hover:after
  width 100%
  background-color #fde3004d
  opacity 1
.Conten-superior
  width 100%
  height 700px
  background-image url('../../dist/assets/images/bag-palmas.jpg')
  background-position center center
  background-size cover
  background-repeat no-repeat
  &-sombra
    background-color #00000066
    height 700px
    display table
    position relative
    width 100%
  &-btn
    display table-cell
    vertical-align middle
    text-align center
.Btn-play
  width 60px
  filter brightness(0.9)
.Big-text
  font-size 60px
  font-family CenturyGothic-Bold
.Conten-stats
  width 100%
  position relative
  padding 1em 0px
  &-int    
    display flex
    padding 1em 0px
    &-sec
      display table
      vertical-align middle
      padding 10px
.Stats-numeros
  text-align right  
  width 180px
  p
    display table-cell
    vertical-align middle
.Stats-texto
  width 330px
  p
    display table-cell
    vertical-align 
.Now-rap
  white-space nowrap
.Texto-blanco
  color #fff
.Texto-negro
  color #000
.Parrafo
  font-family CenturyGothic-Regular
  font-size 16px
  line-height 26px
.Bloque-contacto-der ul li span
  font-family CenturyGothic-Regular
.Bg-gris
  background-color #333
.Borde-morado-abajo
  border-bottom 3px solid #574a90
.Text-center
  text-align center
.Titul-h2
  text-transform uppercase
  font-family CenturyGothic-Bold
  margin 0px
  font-size 60px
.Titul-h4
  text-transform uppercase
  font-family CenturyGothic-Bold
  margin 0px
  font-size 40px
.Mora-bor-about
  width 580px
  margin 0px auto
  margin-bottom 30px
.Conten-image-services
  width 100%
  img
    width 100%
.Conten-global
  width 100%
  &-int
    margin 0px auto
    max-width 1240px
    padding 4em 0px 1em 0px
  &-intsencillo
    margin 0px auto
    max-width 1240px
.Conten-cas
  max-width 1024px
  margin 0px auto
.Conten-cas2
  max-width 1240px
  margin 0px auto
.Conten-casos
  width 100%    
  &-int
    width 100%    
    margin 6em 0px
    a
      display block
  &-flex
    justify-content center
    align-items center
.Flex-flow
  display flex
.Conten-medio-work  
  width 50%
.Contacto
  position relative
  width 100%
  margin-bottom 0em
  &-int
    width 100%
    padding 3em 0px
    position relative
    &-sec
      display flex
      max-width 1024px
      margin 0px auto
      flex-wrap wrap
      &-part
        display flex
        width 50%
.Conten-titulo-case
  position relative
.Conten-casos-estudio
  position relative
  width 100%
  &-context
    max-width 1240px
    margin 0px auto
    padding 3em 0px
  &-flex
    display flex
  &-sec
    width 50%
  &-contexto
    height 100%
    display table
    &-int
      display table-cell
      vertical-align middle
.Conten-titul-contac
  position absolute
  top 0px
  left 3%
  display table
  height 496px
  padding 20px
  &-int
    display table-cell
    vertical-align middle
.Titul-h3
  color #574a8e
  font-family CenturyGothic-Bold
  font-size 35px
  margin-bottom 0px
.Parrafo-casos
  color #666
  text-align justify
  line-height 24px
.Header-case
  height 540px !important
.Titulh2-case
  color #fff
  font-family CenturyGothic-Bold
  font-size 50px
  text-transform uppercase
  display inline
  border-bottom 3px solid #f9d63e
.Titul-vertical
  word-wrap break-word
  width 60px
  text-align center
  font-size 50px
  color #fff
  line-height 53px
  font-family CenturyGothic-Bold
  text-transform uppercase
  border-right 3px solid #574a8e
  padding-right 20px
.Titul-ccon
  font-family CenturyGothic-Bold !important
  font-size 20px
.Bloque-contacto
  display flex
  width 100%
  margin 20px
  &-izq
    width 30%
    background-image url('../../dist/assets/images/palmas-bg.jpg')
    background-position center center
    background-repeat no-repeat
    background-size cover
  &-der
    background-color #fff
    width 70%
    padding 20px
    ul
      margin 0px
      padding 0px
      li
        line-height 24px
        list-style none
        font-size 14px
        font-family Roboto-regular

.Conten-casos-int:nth-child(2n+1) .Conten-medio-imagen
  order 2
.Conten-casos-int:nth-child(2n+1) .Image
  margin 0 0 0 -150px

.Conten-image
  width calc(100% + 150px)
  img
    max-width 100%
    height auto
    vertical-align middle

.Text-content
  position relative
  z-index 10
.Conten-medio-text
  width calc(100% - 50px)
  padding 90px 50px
  box-shadow 0 16px 30px 0 #0000000f
.Bg-blanco
  background-color #fff
.Bg-morado
  background-color #574A8E
.Bg-amarillo
  background-color #f8d53e
.Titul-h3-work
  font-family CenturyGothic-Bold
  font-size 40px
  text-transform uppercase
  color #574A8E
.Conten-text-vertica-derecho
  position fixed
  right 5%
  top 140px
  text-transform uppercase
  letter-spacing 5px
  font-family CenturyGothic-Bold
  z-index 500
.Texto-vertica-d
  writing-mode vertical-lr
  color #f8d53e
  
.Conten-cases-int:nth-child(2n+1) .Conten-medio-imagen
  order 1
  width 30%
.Conten-cases-int:nth-child(2n+1) .Image
  margin 0 0 0 -75px

.Conten2-image
  width calc(100% + 75px)
  
  img
    max-width 100%
    height auto
    vertical-align middle
.Services-grande
  display block
.Services-movil
  display none
.Text2-content
  position relative
  z-index 10
.Conten2-medio-text
  width calc(100% - 50px)
  padding 20px 30px
  box-shadow 0 16px 30px 0 #0000000f
.Bg2-blanco
  background-color #fff
.Titu2l-h3-work
  font-family CenturyGothic-Bold
  font-size 40px
  text-transform uppercase
  color #574A8E

.Conten-cases
  width 100%    
  &-int
    width 100%    
    margin 2em 0px 6em 0px
    a
      display block
  &-flex
    justify-content center
    align-items center
.Text-content2
  position relative
  z-index -1
.Flex-flow
  display flex
.Conten-medio-work  
  width 50%

// Aca dentro los css del blog

.Headerblog
  width 100%
  height 400px
  display flex
  justify-content center
  align-items center
  background-image url('https://movicoms.com/es/dist/assets/images/bag-palmas.jpg')
  background-position center center
  background-size cover
  background-repeat no-repeat
  position relative
  &__int
    width 100%
    background linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%)
    position absolute
    bottom 0
    left 0
    padding-bottom: 20px
    text-shadow 0 2px 1em #000;
    text-align center
  &__text
    max-width 1024px
    text-align center    
    margin 0px auto
    color #fff    
    text-transform uppercase
    font-family CenturyGothic-Bold
    h1
      font-size 50px
.Contentblog
  margin 40px 0px
  width 100%
  &__int
    max-width 1024px
    margin 0px auto
    img
      max-width 100%
    ul li
    line-height 24px
  &__autor
    display flex
    align-items center
    margin-top 50px
  &__image
    width 60px
    height 60px
    border-radius 50%
    overflow hidden
  &__label
    margin-left 10px
  &__interesar
    max-width 1024px
    margin 40px auto
    &-text
      display flex
      padding-bottom 20px
      border-bottom 1px solid #ddd
      span
        font-family CenturyGothic-Bold
  &__recomendados
    display flex
    margin 20px 0px
    
  &__box
    width 310px
    background-color #ffffff
    height 225px
    display flex
    flex-direction column
    margin-right 40px
    box-shadow 0 16px 30px 0 rgba(0,0,0,0.059)
    &-izq
      width 100%
      padding 15px
      display flex
      align-items center
    &-text
      width 100%
      background-color #fff
      span
        color #000
        font-family CenturyGothic-Bold
        font-size 14px
    &-der
      width 100%
      display flex
      align-items center
    &-image
      width 100%      
      overflow hidden
      height 120px
      // transform translate(20px)

      img
        width 100%
        transform scale(0.9)
.Relative
  position relative
.Headerprincipalblog
  width 100%
  height 400px
  display flex
  justify-content center
  align-items center
  background-image url('https://movicoms.com/es/dist/assets/images/bag-palmas.jpg')
  background-position center center
  background-size cover
  background-repeat no-repeat
  position relative
  &__label    
    width 100%
    position absolute
    margin 0px auto
    bottom -60px
    &-text
      background-color #fff
      margin 0px auto
      max-width 1000px
      padding 30px
      text-align center
      box-shadow 0 16px 30px 0 rgba(0,0,0,0.059)
      h2
        margin 5px 5px 10px 5px
        font-size 30px
        color #000
      span
        color #000
    
.ContentBlogPrincipal
  display flex
  margin 0px auto
  width 1024px
  position relative
  padding 40px 0px
  &__sec
    position relative
    margin-right 20px
    &:las-child
      margin-right 0px
    &:first-child
      width 70%
    &:last-child
      width 30%
  &__box
    width 100%
    border-bottom 1px solid #ddd
    padding-bottom 30px
    margin-bottom 20px
    display flex
    height 350px
    
   

  &__image
    width 100%
    overflow hidden
    display flex
    img
      width 100%
      object-fit cover
  &__text
    padding 20px 30px
    &-titulo
      width 100%
      margin-bottom 25px
      span
       font-family CenturyGothic-Bold
    &-btn
      padding 20px 0px
    &-redes
      position relative
      ul
        margin 0px
        padding 0px
        li
          list-style none
          display inline-block
          a
            color #333
            padding 5px
            margin-left 5px
.Blogtext_strong
  font-family CenturyGothic-Bold
  font-size 20px
  text-align center
  display block
  margin-bottom 10px
.ContentBlogPrincipal__text-parrafo p
  font-size 14px
.Contentblog__int p
  text-align justify
.Learnbtn
  line-height 18px
  border-bottom 3px solid #574a8e
  display table
  margin-top 30px
  transition .3s
  font-size 12px
  &:hover
    border-bottom 3px solid #f9d63e

.Contencasesstudy
  width 100%
  &__int
    background-color #fff
    padding 15px
    display flex
    align-items center
    margin-bottom 20px
  &__title
    width 50%
    padding 1px    
    span
      font-family CenturyGothic-Bold
      color #333
      text-transform uppercase
    
  &__img    
    overflow hidden    
    width 50%
    &-int      
      height 160px
      display flex
      justify-content center
      align-items center
      img
        width 260px
        height 160px
        object-fit contain

      
      
     
  


  

    

// Aca termina css del blog


.Conten-casos3-int:nth-child(2n+1) .Conten-medio-imagen
  order 2
.Conten-casos3-int:nth-child(2n+1) .Image
  margin 0 0 0 -150px

.Conten-image3
  width calc(100% + 145px)
  img
    max-width 100%
    height auto
    vertical-align middle

.Text-content3
  position relative
  z-index 10
.Conten-medio-text3
  width calc(100% - 13px)
  padding 90px 50px
  box-shadow 0 16px 30px 0 #0000000f
.Bg-blanco
  background-color #fff
.Bg-morado
  background-color #574A8E
.Titul-h4-work
  font-family CenturyGothic-Bold
  font-size 20px
  text-transform uppercase
  color #574A8E

.Conten-foot
  width 100%
  background-color #fff
  &-int
    max-width 1024px
    margin 0px auto
    text-align center
    padding 40px 0px 30px 0px
    p
      font-size 14px
      a
        color #000
        &:hover
          text-decoration underline
    ul
      margin 0px
      padding 0px
      li
        list-style none
        display inline-block
        a
          color #000
          padding 10px
          transition .3s
          &:hover
            color #574a90
.Conten-slide-btn
  width 80%
  display flex
  text-align center   
  
.Btn-slide
  display block
  position relative
  text-decoration none
  font-family CenturyGothic-Bold
  color #000
  background-color #f9d63e
  padding 20px
  border none
  text-transform uppercase
  font-size 16px
  width 180px
  overflow hidden
  &:hover span
    color #fff
  &::after, &::before
    content " "
    display block
    position absolute
    width 100%
    top 0px
    bottom 0px
    right 0px
    background-color #000
    z-index -1
  &::before
    transform translateX(-100%)
    z-index 1
  &:hover:before
    transform translateX(0)
    transition transform 350ms ease
  &::after
    z-index 0
    transform translateX(100%)
    transition none
    transition transform 350ms ease
  &:hover:after
    opacity 1
    transform translateX(0)
    transition transform 350ms 360ms ease
  span
    z-index 5
    position relative
    transition color 350ms ease


.Btn-slide-mini
  display block
  position relative
  text-decoration none
  font-family CenturyGothic-Bold
  color #000
  background-color #f9d63e
  padding 10px
  border none
  text-transform uppercase
  font-size 16px
  width 140px
  overflow hidden
  &:hover span
    color #fff
  &::after, &::before
    content " "
    display block
    position absolute
    width 100%
    top 0px
    bottom 0px
    right 0px
    background-color #000
    z-index -1
  &::before
    transform translateX(-100%)
    z-index 1
  &:hover:before
    transform translateX(0)
    transition transform 350ms ease
  &::after
    z-index 0
    transform translateX(100%)
    transition none
    transition transform 350ms ease
  &:hover:after
    opacity 1
    transform translateX(0)
    transition transform 350ms 360ms ease
  span
    z-index 5
    position relative
    transition color 350ms ease
.slider-container
  margin 0px auto
  width 90%
.swiper-container
  margin 30px 0px
  width 100%
  height 530px
.Conten-text-slide
  width 310px
  position absolute  
  text-align center
  display table
  height 100%
  top 0px
.swiper-title
  display table-cell
  vertical-align bottom
  position relative
  color #000
  text-transform uppercase  
  font-size 22px
  font-family CenturyGothic-Bold
.swiper-slide:hover > img
  border-color #f9d63e
.Text-morado
  color #56498c !important
.swiper-slide
  position relative
  padding-bottom 40px
  img
    display block    
    object-fit contain
    border 10px solid #574a90
    border-radius 10px
    transition 0.3s
    &:hover
      border-color #f9d63e
.swiper-button-next, .swiper-button-prev
  position relative
  display inline-block
  margin-right 40px
  height 10px
.swiper-button-prev svg
  transform rotate(180deg)
.Conten-casos-estudio-sec img
  padding 0px 20px
  width 100%
.swiper-buttons
  display inline-block
.swiper-pagination
  width 77%
  height 4px
  left 0px
  top 0px
  position relative
  display inline-block
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill
  background-color #f9d63e !important
.Conten-otros-casos
  width 100%
  position relative  
  &-int
    max-width 1240px
    margin 0px auto
    padding 2em 0px
  &-slide
    width 100%
    padding 2em 0px    
    overflow auto
    white-space nowrap
    &-horizontal
      padding 15px
      display inline-block
      width 620px

.Menu_scroll
  background-color #fff
  width 100%
  transition .3s
  height 90px !important   
  box-shadow 0 16px 30px 0 #0000000f 
  .Top-logo
    width 60px
    a img
      filter brightness(1)
  .Top-menu nav ul li a
    color #333
  .Top-int-der
    padding 4px 0px
.Menu-drop
  width 40px
  margin-right 15px
  float right
  img
    width 100%

.Modalboxcontent
  position fixed
  background-color rgba(0, 0, 0, 0.88)
  top 0
  width 100%
  height 100vh
  z-index 500
  overflow-y auto
  transition all 0.5s ease-out
  &__int
    display table
    position relative
    margin 0 auto
    height 100vh
    width 90%
  &__context
    display table-cell
    vertical-align middle
    &-int
      // background-color #fff
      border-radius 3px
    &-middle
      width 100%
      position relative
    &-top-right
      display flex
      justify-content flex-end
      i
        color #fff
        font-size 20px


  &__iframe
    position relative
    width 100%
    height 90vh
    iframe
      // position absolute
      display block
      top 0
      left 0
      width 100%
      height 100%      
      
.Oculto
  display none

@media screen and (max-width: 1024px)
  .Conten-superior-sombra
    height 500px
  .Conten-superior
    height 500px
  .Top-int
    width 100%
    margin 0px auto
    display block  
  .Titul-h2
    font-size 30px
  .Mora-bor-about
    width 200px
  .Conten-global-int
    width 90%
    margin 0px auto
  .Conten-cas
    width 90%
    margin 0px auto
    overflow hidden
  .Bloque-contacto
    width 90%
  .Contacto-int-sec
    width 90%
    margin 0px auto
    display block    
    &-part
      width 100%
  .Bloque-contacto-der ul li
    white-space pre-wrap
  .Conten-titul-contac
    display block
    height auto
  .Titul-vertical
    width 100%
    border-bottom 3px solid #574a8e
    border-right none
  .Contacto-int 
    padding 5em 0px 3em 0px
  
  .Titul-vertical
    font-size 30px
  .Conten-foot-int p
    font-size 14px !important
  .Flex-flow
    display block
  .Conten-medio-work
    width 100%
  .Conten-medio-text
    width 100%
  .Conten-casos-int:nth-child(2n+1) .Image
    margin 0px
  .Conten-image
    width 100%
  .Conten-medio-text
    padding 20px
  .Conten-casos-int
    margin 3em 0px
  .Top
    height 84px
    background-color #fff
  .Top-logo
    width 54px
  .Top-logo a img
    filter brightness(1) !important
  .Menu-oculto
    position absolute
    right 0px
    top 28px
    display block
    z-index 600
  .Top-menu
    padding 0px
  .Top-int-der
    background-color #fff
    width 100%
    padding 0px
    margin-top -3px
  .Menu-drop img
    filter brightness(0)
  .Menu-completo-oculto
    display none
  .Top-menu nav .Menu-togg li
    display block
    span a
      text-align center
      display block
      color #333
  .Menu_scroll .Top-int-der
    padding 0px    
  .Menu_scroll
    height 84px !important
  .Menu_scroll .Top-logo
    width 54px !important
  .Conten-casos-estudio-context
    width 90%
    margin 0px auto
  .Conten-casos-estudio-flex
    display block
  .Conten-casos-estudio-sec
    width 100%
  .Conten-cas2
    width 90%
    margin 0px auto
    overflow hidden
  .Menuhover .hover
    display block
    margin auto
  .Conten-cases-int
    margin 2em 0px
  .Conten-cases-int:nth-child(2n+1) .Conten-medio-imagen
    width 100%
  .Conten-cases-int:nth-child(2n+1) .Image
    margin 0px
  .Conten2-image
    width 100%
  .Conten2-medio-text
    width 100%
  .Titul-h4
    font-size 20px
  .Conten-stats-int
    display block
  .Stats-numeros
    width auto
  .Conten-otros-casos-slide-horizontal
    width 350px
  .Conten-medio-text3
    padding 20px
    width 100%
  .Conten-casos3-int:nth-child(2n+1) .Image
    margin 0px
  .Conten-casos3-int:nth-child(2n+1) .Image
    width 100%
  .Big-text
    font-size 40px
  .Titulh2-case
    font-size 30px
  .Stats-texto
    width 100%

  .Conten-foot-int
    padding 40px 20px 30px 20px
  .Services-grande
    display none
  .Services-movil
    display block
  .Sw-media-min
    margin 5px 0px !important
    height 380px !important
  .swiper-container
    height 350px !important
    margin 5px 0px !important
  .swiper-slide img
    margin 0px auto
    width auto !important
  .swiper-buttons
    text-align center !important
    display block !important
    margin-top 0px !important
    margin-bottom 15px !important
  .swiper-button-next, .swiper-button-prev
    margin 0px 20px !important
  .swiper-pagination
    display block !important
    margin 0px auto !important
  .swiper-title
    font-size 12px
  .swiper-h img
    height 100%
  .Conten-text-slide
    width 100% !important
  // Aca va los css del Blog
  .Headerblog__text
    width 90%
  .Headerblog__text h1
    font-size 30px
  .Contentblog__int
    width 90%
  .Contentblog__interesar
    width 90%
  .Contentblog__recomendados
    overflow auto
  .ContentBlogPrincipal
    flex-direction column
    width 90%
    &__box
      flex-direction column
      height auto
    &__sec
      width 100%
      &:first-child
        width 100%
      &:last-child
        width 100%



  


  









  
