.Topheader{
  width: 100%;
  background-color: var(--color-white);
  padding: var(--padding-4-s);  
  border: 1px solid var(--color-border-bw);
  &__int{
    display: flex;
    margin: 0px auto;
    max-width: 1280px;
  }
  &__sec{
    width: 50%;
    display: flex;
    align-items: center;
  }
}
.Menu{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    li{
      display: inline-block;
      a{
        color: #000;
        padding: 10px 15px;
        transition: .3s;
        border-radius: 5px;
        &:hover{
          background-color: #f2f2f2;
        }
      }
    }
  }
}