.Contentlogin{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__int{
    width: 350px;
    padding: var(--padding-4-s);    
    background-color: var(--color-white);
    border-radius: var(--radius-4-s);
    border: 1px solid var(--color-border-bw);
  }
}